<tr em="block">
  <td align="center" style="padding:25px 40px 14px;" class="em-mob-padding_left-20 em-mob-padding_right-20">
    <a href="{{logo_url|url}}" target="_blank"><img src="https://cp.unisender.com/en/v5/user-files?userId=4445740&resource=himg&disposition=inline&name=6hxbkkqjjt5jq6d84bcbqiwsjaq9dind1kh1bcdkgrnh6yiif831jzhg4jyqekeruwwgqq8fbpzcq18jy5gndto1jy58d9fd4b9bq5rfcignrgdj858qzuop7qhkbi66w8pnokm8tppbk7sazwhoei9qyby" alt="Вокруг света" width="140" border="0" style="display:block; max-width:140px;"></a>
  </td>
</tr>
<tr em="block">
  <td align="center" style="padding:0 40px 10px;" class="em-mob-padding_left-8 em-mob-padding_right-8">
    <table border="0" cellspacing="5" cellpadding="0" width="100%" em="atom"><tr>
      <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);"><a href="{{m1_url|url}}" target="_blank" style="display:block; padding:10px 6px; font-size:11px; font-family:'Rubik',sans-serif; white-space:nowrap; color:#464646; font-weight:bold; text-decoration:none;">{{m1_label}}</a></td>
      <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);"><a href="{{m2_url|url}}" target="_blank" style="display:block; padding:10px 6px; font-size:11px; font-family:'Rubik',sans-serif; white-space:nowrap; color:#464646; font-weight:bold; text-decoration:none;">{{m2_label}}</a></td>
      <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);"><a href="{{m3_url|url}}" target="_blank" style="display:block; padding:10px 6px; font-size:11px; font-family:'Rubik',sans-serif; white-space:nowrap; color:#464646; font-weight:bold; text-decoration:none;">{{m3_label}}</a></td>
      <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);"><a href="{{m4_url|url}}" target="_blank" style="display:block; padding:10px 6px; font-size:11px; font-family:'Rubik',sans-serif; white-space:nowrap; color:#464646; font-weight:bold; text-decoration:none;">{{m4_label}}</a></td>
    </tr></table>
  </td>
</tr>
