<tr em="block">
            <td align="center" style="padding:25px 40px 28px;" class="em-mob-padding_left-20 em-mob-padding_right-20">
              <a href="https://vs-travel.ru/tury-po-rossii?utm_source=email&utm_medium=email&utm_campaign=spo&utm_content=150926" target="_blank">
                <img src="https://cp.unisender.com/en/v5/user-files?userId=4445740&resource=himg&disposition=inline&name=6hxbkkqjjt5jq6d84bcbqiwsjaq9dind1kh1bcdkgrnh6yiif831jzhg4jyqekeruwwgqq8fbpzcq18jy5gndto1jy58d9fd4b9bq5rfcignrgdj858qzuop7qhkbi66w8pnokm8tppbk7sazwhoei9qyby" alt="VS Travel" width="140" border="0" style="display:block; max-width:140px;">
              </a>
            </td>
          </tr>
