<tr em="block">
            <td align="center" style="padding:0 40px 10px;" class="em-mob-padding_left-8 em-mob-padding_right-8">
              <table border="0" cellspacing="5" cellpadding="0" width="100%">
                <tr>
                  <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);">
                    <a href="https://vs-travel.ru/odnodnevnye/?utm_source=email&utm_medium=email&utm_campaign=spo&utm_content=150926" target="_blank" style="display:block; padding:10px 6px; font-size:11px; font-family:'Rubik',sans-serif; white-space:nowrap; color:#464646; font-weight:bold;">На 1 день</a>
                  </td>
                  <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);">
                    <a href="https://vs-travel.ru/tury-po-rossii?utm_source=email&utm_medium=email&utm_campaign=spo&utm_content=150926" target="_blank" style="display:block; padding:10px 6px; font-size:11px; font-family:'Rubik',sans-serif; white-space:nowrap; color:#464646; font-weight:bold;">Туры по России</a>
                  </td>
                  <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);">
                    <a href="https://vs-travel.ru/tury-zarubezh?utm_source=email&utm_medium=email&utm_campaign=spo&utm_content=150926" target="_blank" style="display:block; padding:10px 6px; font-size:11px; font-family:'Rubik',sans-serif; white-space:nowrap; color:#464646; font-weight:bold;">Зарубежье</a>
                  </td>
                  <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);">
                    <a href="https://vs-travel.ru/lk/profile?utm_source=email&utm_medium=email&utm_campaign=spo&utm_content=150926" target="_blank" style="display:block; padding:10px 6px; font-size:11px; font-family:'Rubik',sans-serif; white-space:nowrap; color:#464646; font-weight:bold;">Личный кабинет</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
