<tr em="block">
  <td align="center" style="padding:20px 40px 30px;" class="em-mob-padding_left-20 em-mob-padding_right-20">
    <table align="center" border="0" cellspacing="0" cellpadding="0" em="atom"><tr>
      <td valign="middle" align="center" style="background:#ff732d; border-radius:25px; border-bottom:3px solid rgba(180,70,20,0.7);"><a href="{{url|url}}" target="_blank" style="display:block; padding:12px 25px; color:#ffffff; font-size:18px; font-weight:600; font-family:'Rubik',Arial,sans-serif; text-decoration:none;" class="em-mob-font_size-15px">{{label}}</a></td>
    </tr></table>
  </td>
</tr>
