<tr em="block">
            <td align="center" style="padding: 10px 40px;" class="em-mob-padding_left-20 em-mob-padding_right-20">
              <div style="font-family:'Rubik',Arial,sans-serif; font-size:15px<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>; line-height:1.6; color:#464646; text-align:center;">Мы нашли способ сделать зиму немного приятнее: выбрать новогоднее путешествие по цене «Раннего бронирования»!&nbsp;<strong>До 17 сентября маршруты из этого письма можно купить со скидкой до 12%</strong>.<br><br>Собрали путешествия, с которых может начаться ваш 2027 год.<br></div>
            </td>
          </tr>
