<tr em="block">
  <td align="center" style="padding:10px 30px 16px;" class="em-mob-padding_left-20 em-mob-padding_right-20">
    <table border="0" cellspacing="10" cellpadding="0" width="100%" em="atom"><tr>
      <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);"><a href="{{n1_url|url}}" target="_blank" style="display:block; padding:12px 15px; font-size:16px; font-family:'Rubik',sans-serif; white-space:nowrap; color:#464646; font-weight:bold; text-decoration:none;">{{n1_label}}</a></td>
      <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);"><a href="{{n2_url|url}}" target="_blank" style="display:block; padding:12px 15px; font-size:16px; font-family:'Rubik',sans-serif; white-space:nowrap; color:#464646; font-weight:bold; text-decoration:none;">{{n2_label}}</a></td>
      <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);"><a href="{{n3_url|url}}" target="_blank" style="display:block; padding:12px 15px; font-size:16px; font-family:'Rubik',sans-serif; white-space:nowrap; color:#464646; font-weight:bold; text-decoration:none;">{{n3_label}}</a></td>
    </tr></table>
  </td>
</tr>
