<tr em="block">
  <td align="center" style="padding:19px 40px 20px; background-color:#7b7b7b; border-radius:35px 20px; border-bottom:4px solid rgba(80,80,80,0.6);" bgcolor="#7B7B7B">
    <table border="0" cellspacing="0" cellpadding="0" width="100%" em="atom"><tr>
      <td width="58%" valign="middle" class="em-mob-wrap em-mob-width-100perc" style="padding:5px;">
        <div style="font-family:'Rubik',sans-serif; font-size:11px; line-height:1.6; color:#ffffff; font-weight:bold;">
          <a href="https://yandex.ru/maps/213/moscow/house/aviamotornaya_ulitsa_12/Z04YcQZlTEUAQFtvfXt0cn5rYg==/" target="_blank" style="color:#ffffff;">г. Москва, ул. Авиамоторная, д. 12, офис 515</a><br>
          РТО 001037<br>
          <a href="mailto:tour@vs-travel.ru" style="color:#ffffff;">tour@vs-travel.ru</a><br>
          <a href="tel:+74957414941" style="color:#ffffff;">+7 (495) 741-49-41</a>
        </div>
      </td>
      <td width="42%" valign="middle" align="right" class="em-mob-wrap em-mob-width-100perc" style="padding:5px;">
        <table border="0" cellspacing="0" cellpadding="0" align="right" style="background:#ffffff; border-radius:35px; border-bottom:4px solid rgba(0,0,0,0.15);" bgcolor="#ffffff"><tr>
          <td style="padding:5px 8px;"><a href="https://t.me/+N441FqLI4vowYTRi" target="_blank"><img src="https://img.hiteml.com/en/v5/user-files?userId=4445740&resource=himg&disposition=inline&name=695aaz9paxfyhcd84bcbqiwsjaq9dind1kh1bcdkgrnh6yiif831dg48nt51e4qthygdmhy7zf6mzf8gzcbfrg6ydosobncsbyufz73g351i39159mgew1n5wgcwb3i3qwp3acwz9ja4hah3k87zgk31mz31ic86rmyb1p4a" alt="Telegram" width="35" height="35" border="0" style="display:block;"></a></td>
          <td style="padding:5px 8px;"><a href="https://vk.me/vs_travel" target="_blank"><img src="https://img.hiteml.com/en/v5/user-files?userId=4445740&resource=himg&disposition=inline&name=69rz66jh7ot9zed84bcbqiwsjaq9dind1kh1bcdkgrnh6yiif831dg48nt51e4qthygdmhy7zf6mzrmihorjjp6zk515erz4c46fuggpa7pandyomzmix37w459487gs6x8tgrmzhii86gh3k87zgk31mz31ic86rmyb1p4a" alt="VK" width="35" height="35" border="0" style="display:block;"></a></td>
          <td style="padding:5px 8px;"><a href="https://clck.ru/3LsNGB" target="_blank"><img src="https://img.hiteml.com/en/v5/user-files?userId=4445740&resource=himg&disposition=inline&name=6m6nyzggfscetcd84bcbqiwsjaq9dind1kh1bcdkgrnh6yiif831dg48nt51e4qthygdmhy7zf6mzf38sdt59wrec9knp4k9gjbiw7q3hqtr7w9cnrittignc6bmozt9tjk3dy54fcftb6h3k87zgk31mz31ic86rmyb1p4a" alt="Dzen" width="35" height="35" border="0" style="display:block;"></a></td>
          <td style="padding:5px 8px;"><a href="https://max.ru/id7708596369_biz" target="_blank"><img src="https://cp.unisender.com/en/v5/user-files?userId=4445740&resource=himg&disposition=inline&name=61jgftww5d9xdrd84bcbqiwsjaq9dind1kh1bcdkgrnh6yiif831jzhg4jyqekeru7hr8bwwrnc9dnpw45fuzgej33sfoxq77is9co4qa7rdzini1o4y7i5gwqmbqbfwxe3gpwww4kspcndejner6ujf51r" alt="Мах" width="35" height="35" border="0" style="display:block;"></a></td>
        </tr></table>
      </td>
    </tr></table>
  </td>
</tr>
