<tr em="block">
            <td align="center" style="padding:15px 40px 20px;" class="em-mob-padding_left-20 em-mob-padding_right-20">
              <table border="0" cellspacing="20" cellpadding="0" width="100%">
                <tr>
                  <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);">
                    <a href="https://vs-travel.ru/podbor-tura?TopFilter_dlitelnost=2-15&TopFilter_is_novelty=1&TopFilter_russia=1&utm_source=email&utm_medium=email&utm_campaign=spo&utm_content=150926" target="_blank" style="display: block; padding: 12px 15px; color: #464646; font-size: 16px; font-family: 'Rubik', sans-serif; font-weight: bold; white-space: nowrap;">Новинки</a>
                  </td>
                  <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);">
                    <a href="https://vs-travel.ru/podbor-tura?TopFilter_dlitelnost=2-15&TopFilter_tota=1&TopFilter_russia=1&utm_source=email&utm_medium=email&utm_campaign=spo&utm_content=150926" target="_blank" style="display:block; padding:12px 15px; color:#464646; font-size:16px; font-family:'Rubik',sans-serif; font-weight:bold; white-space:nowrap;">Туры от Вокруг света</a>
                  </td>
                  <td align="center" valign="middle" style="background:rgba(255,115,45,0.5); border-radius:25px; border-bottom:3px solid rgba(204,90,35,0.6);">
                    <a style="display: block; padding: 12px 15px; color: #464646; font-size: 16px; font-family: Rubik, sans-serif; font-weight: bold; white-space: nowrap;" href="https://vs-travel.ru/podbor-tura/novogodnie-kanikuly?utm_source=email&utm_medium=email&utm_campaign=spo&utm_term=150926" target="_blank">Январские каникулы</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
