<tr em="block">
  <td align="center" style="padding:15px 40px 20px;" class="em-mob-padding_left-20 em-mob-padding_right-20">
    <table border="0" cellspacing="0" cellpadding="0" width="100%" em="atom"><tr>
      <td align="center" valign="middle" style="background:#ffb98e; border-radius:25px; border-bottom:3px solid #cc5a23; padding:12px 10px;"><a href="{{n1_url|url}}" target="_blank" style="display:block; color:#464646; font-size:16px; font-family:Inter,Arial,sans-serif; font-weight:bold; text-decoration:none; white-space:nowrap;">{{n1_label}}</a></td>
      <td width="8"></td>
      <td align="center" valign="middle" style="background:#ffb98e; border-radius:25px; border-bottom:3px solid #cc5a23; padding:12px 10px;"><a href="{{n2_url|url}}" target="_blank" style="display:block; color:#464646; font-size:16px; font-family:Inter,Arial,sans-serif; font-weight:bold; text-decoration:none; white-space:nowrap;">{{n2_label}}</a></td>
      <td width="8"></td>
      <td align="center" valign="middle" style="background:#ffb98e; border-radius:25px; border-bottom:3px solid #cc5a23; padding:12px 10px;"><a href="{{n3_url|url}}" target="_blank" style="display:block; color:#464646; font-size:16px; font-family:Inter,Arial,sans-serif; font-weight:bold; text-decoration:none; white-space:nowrap;">{{n3_label}}</a></td>
    </tr></table>
  </td>
</tr>
