<tr em="block">
                    <td align="center" style="padding: 0 40px 20px;" class="noresp-em-mob-padding_left-20 noresp-em-mob-padding_right-20">
                        <table border="0" cellspacing="5" cellpadding="0" width="100%" em="atom" class="top-menu">
                            <tr>
                                <td align="center" valign="middle" style="background: rgba(255, 115, 45, 0.5); border-radius: 25px; border-bottom: 3px solid rgba(204, 90, 35, 0.6);">
                                    <a data-editable="link" href="https://vs-travel.ru/podbor-tura/?TopFilter_dlitelnost=1-1&TopFilter_tota=1&TopFilter_russia=1&utm_source=email&utm_medium=email_ta&utm_campaign=menu" target="_blank" style="display: block; padding: 10px 6px; color: #464646; font-size: 12px; font-family: Century Gothic, Arial, sans-serif; white-space: nowrap;"><strong>На 1 день</strong></a>
                                </td>
                                <td align="center" valign="middle" style="background: rgba(255, 115, 45, 0.5); border-radius: 25px; border-bottom: 3px solid rgba(204, 90, 35, 0.6);">
                                    <a data-editable="link" href="https://vs-travel.ru/podbor-tura/?TopFilter_dlitelnost=2-15&TopFilter_tota=1&TopFilter_russia=1&utm_source=email&utm_medium=email_ta&utm_campaign=menu" target="_blank" style="display: block; padding: 10px 6px; color: #464646; font-size: 12px; font-family: Century Gothic, Arial, sans-serif; white-space: nowrap;"><strong>Туры по России</strong></a>
                                </td>
                                <td align="center" valign="middle" style="background: rgba(255, 115, 45, 0.5); border-radius: 25px; border-bottom: 3px solid rgba(204, 90, 35, 0.6);">
                                    <a data-editable="link" href="https://vs-travel.ru/podbor-tura/?TopFilter_tota=1&TopFilter_russia=2&utm_source=email&utm_medium=email_ta&utm_campaign=menu" target="_blank" style="display: block; padding: 10px 6px; color: #464646; font-size: 12px; font-family: Century Gothic, Arial, sans-serif; white-space: nowrap;"><strong>Зарубежье</strong></a>
                                </td>
                                <td align="center" valign="middle" style="background: rgba(255, 115, 45, 0.5); border-radius: 25px; border-bottom: 3px solid rgba(204, 90, 35, 0.6);">
                                    <a data-editable="link" href="https://online.vs-travel.ru/login?utm_source=email&utm_medium=email_ta&utm_campaign=menu" target="_blank" style="display: block; padding: 10px 6px; color: #464646; font-size: 12px; font-family: Century Gothic, Arial, sans-serif; white-space: nowrap;"><strong>Личный кабинет</strong></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
